* {
    margin: 0;
    font-family: 'Work Sans';
}

/* Header styles */

header {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}

.right-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 350px;
    width: 500px;
    margin-left: 1200px;
    text-align: right;
}

.right-sec>p {

    font-size: 18px;
    margin-bottom: 20px;
}

.first-heading {
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 20px;
}

.first-btn {
    width: 160px;
    height: 64px;
    background: #F15B22;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 550;


}

/* Main section styles */

.failures {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 300px 150px;
    padding: 0px 100px;

}

.fail-list {
    width: 40%;
}

.fail-list>h1 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}

.fail-list>p {
    font-size: 18px;
    padding-bottom: 20px;
}

.fail-list>ul>li {
    padding-bottom: 10px;
}

.plans {
    margin: 50px 400px;
}

.plans-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: space-around;

}

.plans>h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}

.plan-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-list>h3 {
    font-weight: 700;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.plan-list>p {
    font-weight: 500;
    font-size: 20px;
}

.gradient {
    background-image: url("images/gradient2.png"), url("images/watch.png");
    background-repeat: no-repeat;
    width: 1200px;
    height: 400px;
    margin: 20px auto 0px;
}

.grad-content {
    padding: 100px;
}

.grad-content>h1 {
    color: white;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 35px;
}


/* Footer section styles */

footer {
    background-color: #151414;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
}

.future {
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.future>h1 {
    font-weight: 700;
    font-size: 45px;

}

.icon-set>img {
    padding-right: 15px;
}

.subscribe {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    padding-top: 50px;
}

.subscribe>h1 {
    font-weight: 550;
    font-size: 35px;
    margin-bottom: 20px;
}

.subscribe>input {
    margin-bottom: 20px;
    width: 325px;
    height: 64px;
    background-color: #151414;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding-left: 15px;
    border-radius: 5px;
}

.last-btn {
    width: 150px;
    height: 64px;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    background-color: white;
    font-size: 20px;
    font-weight: 600;
}